<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                padding-top: 60px;
                padding-bottom: 40px;
            }
            .fixed-header, .fixed-footer{
                width: 100%;
                position: fixed;
                background: #333;
                padding: 10px 0;
                color: #fff;
            }
            .fixed-header{
                top: 0;
                left: 0;
            }
            .fixed-footer{
                bottom: 0;
            }
            .container{
                width: 80%;
                margin: 0 auto;
            }
            nav a{
                color: #fff;
                text-decoration: none;
                padding: 7px 25px;
                display: inline-block;
            }
            .content_list ul li{
                padding-right: 10px;
                list-style-type: none;
                padding-bottom: 10px;
            }
            .content_list ul li a{
                text-decoration: none;
            }
            .form_list{
                list-style-type: none;
            }
            .form_list li{
                padding-bottom: 5px;
            }
            .graphTitle{
                padding-left: 300px;
            }
        </style>

        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

        <title>Covid19 Graphs</title>
    </head>

    <body>
        <div class="fixed-header">
            <div class="">
                <nav>
                    <a href="/"><span style="font-size: 40px;">Covid19 Dashboard</span></a>
                </nav>
            </div>
        </div>
        <div class="col-lg-12" style="max-width: 1200px;">
            <div class="col-lg-3" style="float: left; max-width: 250px;">
                <h3 style="margin-left: 30px;">Contents</h1>
                <div class="content_list">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="api_data">Api Data</a></li>
                        <li><a href="showmap">Map</a></li>                            <li><a href="contact">Contact</a></li>
                    </ul>
                </div>
                <div><h4 style="margin-left: 30px;">Scroll to View ID</h6></div>
                <div style="float: left;  max-height: 300px; overflow: scroll; overflow-x:hidden; padding-bottom: 10px;">
                    <h6 style="margin-left: 30px;">Click to show Retweet Count</h6>
                    <ul class="form_list">
                        <form method="POST" enctype="multipart/form-data" action="selecteditem">
                            {% csrf_token %}
                            {% for item in xAxis %}
                                <li><input type="submit" value="{{item}}" name="item"></li>
                            {% endfor %}
                        </form>
                    </ul>
                </div>

                <div><h4 style="margin-left: 30px;">Scroll to view Username</h6></div>
                <div style="float: left;  max-height: 300px; overflow: scroll; overflow-x:hidden;">
                    <h6 style="margin-left: 30px;">Click to show Friends Count</h6>
                    <ul class="form_list">
                        <form method="POST" enctype="multipart/form-data" action="selecteditem">
                            {% csrf_token %}
                            {% for item in xValues %}
                                <li><input type="submit" value="{{item}}" name="item"></li>
                            {% endfor %}
                        </form>
                    </ul>
                </div>
            </div>

            <div class="col-lg-9" style="padding-top: 25px; float: right; width: 950px;">
                <div class="col-lg-12">
                    {% if showGraph == 'True' %}
                        <div>
                            <h4 class="graphTitle">A Bar Graph Showing userIDs to the Retweet Count</h4>
                            <canvas id="myChart"></canvas>
                        </div>
                        <div>
                            <h4 class="graphTitle">A Line Graph Showing Username to the Friends Count</h4>
                            <canvas id="lineChart2"></canvas>
                        </div>
                    {% elif showGraph == 'False' %}
                        <div>
                            <h4 class="graphTitle">A Line Graph Showing userIDs to the Retweet Count</h4>
                            <canvas id="lineChart"></canvas>
                        </div>
                        <div>
                            <h4 class="graphTitle">A Bar Graph Showing Username to the Friends Count</h4>
                            <canvas id="myChart2"></canvas>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
    
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');

        var chartOptions = {
            legend: {
                display: true,
            },
            scales: {
                xAxes: [
                    {barPercentage:1},
                    //{ticks: {display:false}},
                    //{ticks: {mirror: false}},
                    //{display: false},
                ],
                yAxes: [
                    //{barPercentage: 1},
                    //{gridLines:{drawBorder: false}},
                    //{ticks: {display:false}},
                    //{ticks: {mirror: true}},
                    //{display: false},
                ],
                elements: {
                    rectangle: {
                        borderSkipped: 'right',
                    }
                }
            }
        };
        
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'bar',

            // The data for our dataset
            data: {
                labels: {{xAxis|safe}},
                datasets: [{
                    label: [
                        'retweet_count',
                    ],
                    backgroundColor: 'rgb(80, 105, 182)',
                    borderColor: 'rgb(80, 211, 130)',
                    data: {{yAxis|safe}},
                }]
            },

            // Configuration options go here
            options: chartOptions
        });
    </script>

    <script>
        var ctx2 = document.getElementById('lineChart').getContext('2d');

        var myLineChart = new Chart(ctx2, {
        type: 'line',
        
        data: {
                labels: {{xAxis|safe}},
                datasets: [{
                    label: 'retweet_count',
                    backgroundColor: [
                        'rgb(180, 211, 130)',
                    ],
                    borderColor: [
                        'rgb(255, 95, 232)'],
                    borderDash: [1, 1],
                    fill: false,
                    data: {{yAxis|safe}},
                }]
            },

        options: {}
    });
    </script>

    <script>
        var ctx3 = document.getElementById('lineChart2').getContext('2d');

        var myLineChart = new Chart(ctx3, {
        type: 'line',

        data: {
                labels: {{xValues|safe}},
                datasets: [{
                    label: 'friends_count',
                    backgroundColor: [
                        'rgb(200, 111, 130)',
                    ],
                    borderColor: [
                        'rgb(55, 195, 32)'],
                    borderDash: [],
                    fill: false,
                    data: {{yValues|safe}},
                }]
            },

        options: {}
        });
    </script>

    <script>
        var ctx4 = document.getElementById('myChart2').getContext('2d');

        var chartOptions = {
            legend: {
                display: true,
            },
            scales: {
                xAxes: [
                    {barPercentage:1},
                    //{ticks: {display:false}},
                    //{ticks: {mirror: false}},
                    //{display: false},
                ],
                yAxes: [
                    //{barPercentage: 1},
                    //{gridLines:{drawBorder: false}},
                    //{ticks: {display:false}},
                    //{ticks: {mirror: true}},
                    //{display: false},
                ],
                elements: {
                    rectangle: {
                        borderSkipped: 'right',
                    }
                }
            }
        };
        
        var chart = new Chart(ctx4, {
            // The type of chart we want to create
            type: 'bar',

            // The data for our dataset
            data: {
                labels: {{xValues|safe}},
                datasets: [{
                    label: [
                        'friends_count',
                    ],
                    backgroundColor: 'rgb(200, 75, 82)',
                    borderColor: 'rgb(120, 61, 230)',
                    data: {{yValues|safe}},
                }]
            },

            // Configuration options go here
            options: chartOptions
        });
    </script>
</html>